<!-- Common parts in Head -->
<div th:fragment="common-head">
	<title>Lotte world tower</title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
		crossorigin="anonymous">
	<link
		href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
		rel="stylesheet">
</div>

<!--  TITLE -->
<div th:fragment="title">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1 style="text-align: center; margin-top: 30px;">Lotte World
				Tower</h1>
		</div>
		<div class="col-2"></div>
	</div>
</div>


<!-- NavBar -->
<div th:fragment="navBar">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<nav class="nav justify-content-end">
				<a class="nav-link" href="http://localhost:8080">Main</a> <a
					class="nav-link" href="http://localhost:8080/naver">Naver</a> <a
					class="nav-link" href="http://localhost:8080/kakao">Kakao</a> <a
					class="nav-link" href="http://localhost:8080/google">Google</a>
			</nav>
		</div>
	</div>
</div>

<!-- Sub title: Address -->
<div th:fragment="address">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h3>Address</h3>
			<p>
				300, Olympic-ro, Songpa-gu, Seoul, Korea<br />
			</p>
		</div>
		<div class="col-2"></div>
	</div>
</div>


<!-- Dynamic Map -->
<div th:fragment="dynamicMap">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h5>Dynamic Map</h5>
			<div id="map" style="width: 100%; height: 400px;"></div>
		</div>
		<div class="col-2"></div>
	</div>
</div>

<!-- Footer -->
<footer th:fragment="footer">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<small style="text-align: center;" class="d-block mb-3 text-muted">&copy;
				2021</small>
		</div>
	</div>
</footer>