<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments.html :: common-head"></div>
</head>
<body style="font-family: 'Heebo', sans-serif;">
	<div class="container">
		<div th:replace="fragments.html :: title"></div>
		<div th:replace="fragments.html :: navBar"></div>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<h3>Compare public Map APIs</h3>
				<ul>
					<li><a href="https://www.ncloud.com/product/applicationService/maps" target="_blank">Naver Maps</a></li>
					<li><a href="https://apis.map.kakao.com/" target="_blank">Kakao Maps</a></li>
					<li><a href="https://cloud.google.com/maps-platform" target="_blank">Google Maps</a></li>
				</ul>
				
				<h3>Comparison perspective</h3>
				<ul>
					<li>Dynamic map with marker and info window</li>
					<li>Direction to Lotte World Tower</li>					
					<li>Data reliability</li>
				</ul>
			</div>
		</div>
		<div th:replace="fragments.html :: footer"></div>
	</div>
</body>
</html>