<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments.html :: common-head"></div>
	<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d7afdf4d5be7eee36b5fe75a3710658c"></script>
</head>

<body style="font-family: 'Heebo', sans-serif;">
	<div class="container">
		<div th:replace="fragments.html :: title"></div>
		<div th:replace="fragments.html :: navBar"></div>
		<div th:replace="fragments.html :: address"></div>
		<div th:replace="fragments.html :: dynamicMap"></div>
		<hr>

		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<h5>Search direction</h5>
				<a href="https://map.kakao.com/link/to/Lotte World Tower,37.5125, 127.102555"
					target="_blank">Direction</a>
			</div>
			<div class="col-2"></div>
		</div>
		<div th:replace="fragments.html :: footer"></div>
	</div>

	<script>
		var mapContainer = document.getElementById('map'), mapOption = {
			center : new kakao.maps.LatLng(37.5125, 127.102555), // coordinates of location
			level : 3
		// zoom level
		};

		var map = new kakao.maps.Map(mapContainer, mapOption);

		// Marker's location
		var markerPosition = new kakao.maps.LatLng(37.5125, 127.102555);

		// Craete marker
		var marker = new kakao.maps.Marker({
			position : markerPosition
		});

		// Marker will be shon on the map
		marker.setMap(map);

		var iwContent = '<div style="padding:5px;"><p>Lotte World Tower</p></div>', // Infowindow's contents
			iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //Infowindow's location
			iwRemoveable = true; //Infowindow close button

		// Create infowindow
		var infowindow = new kakao.maps.InfoWindow({
			position : iwPosition,
			content : iwContent,
			maxWidth : 300,
			removable : iwRemoveable
		});

		// Set infowindow on top of the marker.
		infowindow.open(map, marker);
	</script>
</body>
</html>