<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments.html :: common-head"></div>
<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ypwsn9cpj0"></script>
</head>
<body style="font-family: 'Heebo', sans-serif;">
	<div class="container">
		<div th:replace="fragments.html :: title"></div>
		<div th:replace="fragments.html :: navBar"></div>
		<div th:replace="fragments.html :: address"></div>
		<div th:replace="fragments.html :: dynamicMap"></div>
		<hr>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<h5>Search direction</h5>
				<a
					href="https://map.naver.com/v5/directions/-/14148987.13702489,4510794.895984188,%EC%84%9C%EC%9A%B8%EC%8A%A4%EC%B9%B4%EC%9D%B4%20(%EC%A0%9C2%EB%A1%AF%EB%8D%B0%EC%9B%94%EB%93%9C),303218356,PLACE_POI/-/transit?c=14148519.0164860,4510795.0707930,15,0,0,0,dh"
					target="_blank">Direction</a>
			</div>
			<div class="col-2"></div>
		</div>
		<div th:replace="fragments.html :: footer"></div>
	</div>

	<script>
		// Select location 
		var lotteWorldTower = new naver.maps.LatLng(37.5125, 127.102555), map = new naver.maps.Map(
				'map', {
					center : lotteWorldTower.destinationPoint(0, 500),
					zoom : 15, //Default zoom level
					minZoom : 7, //minimum zoom level
					zoomControl : true, //show control
					zoomControlOptions : {
						position : naver.maps.Position.TOP_RIGHT
					}
				}),
		// Set Marker
		marker = new naver.maps.Marker({
			map : map,
			position : lotteWorldTower
		});

		// Set information window
		var contentString = [
				'<div class="iw_inner">',
				'   <p>Lotte World Tower</p>',
				'   </div>' ].join('');

		// Style information window
		var infowindow = new naver.maps.InfoWindow({
			content : contentString,
			maxWidth : 300,
			backgroundColor : "#eee",
			borderWidth : 2,
			anchorSize : new naver.maps.Size(30, 30),
			anchorSkew : true,
			anchorColor : "#eee",
			pixelOffset : new naver.maps.Point(20, -20)
		});

		// Onclick will make marker disapper
		naver.maps.Event.addListener(marker, "click", function(e) {
			if (infowindow.getMap()) {
				infowindow.close();
			} else {
				infowindow.open(map, marker);
			}
		});

		infowindow.open(map, marker);
	</script>
</body>
</html>