<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments.html :: common-head"></div>
	<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ypwsn9cpj0"></script>
</head>
<body style="font-family: 'Heebo', sans-serif;">
	<div class="container">
		<div th:replace="fragments.html :: title"></div>
		<div th:replace="fragments.html :: navBar"></div>
		<div th:replace="fragments.html :: direction"></div>

		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<div id="map" style="width: 100%; height: 400px;"></div>
			</div>
			<div class="col-2"></div>
		</div>
		<div th:replace="fragments.html :: footer"></div>
	</div>

	<script>
		// Select location 
		var lotteWorldTower = new naver.maps.LatLng(37.5125, 127.102555), map = new naver.maps.Map(
				'map', {
					center : lotteWorldTower.destinationPoint(0, 500),
					zoom : 15, //Default zoom level
					minZoom : 7, //minimum zoom level
					zoomControl : true, //show control
					zoomControlOptions : {
						position : naver.maps.Position.TOP_RIGHT
					}
				}),
		// Set Marker
		marker = new naver.maps.Marker({
			map : map,
			position : lotteWorldTower
		});

		// Set information window
		var contentString = [
				'<div class="iw_inner">',
				'   <h5>Lotte World Tower</h5>',
				'       <a href="https://www.lwt.co.kr/main/main.do" target="_blank">Website</a>',
				'   </p>', '</div>' ].join('');

		// Style information window
		var infowindow = new naver.maps.InfoWindow({
			content : contentString,
			maxWidth : 300,
			backgroundColor : "#eee",
			borderWidth : 2,
			anchorSize : new naver.maps.Size(30, 30),
			anchorSkew : true,
			anchorColor : "#eee",
			pixelOffset : new naver.maps.Point(20, -20)
		});

		// Onclick will make marker disapper
		naver.maps.Event.addListener(marker, "click", function(e) {
			if (infowindow.getMap()) {
				infowindow.close();
			} else {
				infowindow.open(map, marker);
			}
		});

		infowindow.open(map, marker);
	</script>
</body>
</html>